
@{
    ViewBag.Title = "Index";
}

<h2>D3.js</h2>
<ul>
    <li>@Html.ActionLink("Simple Bar Chart - Manchester United Top Goalscorers","BarChart")</li>
    <li>@Html.ActionLink("Real Time Map - Using ASP.NET SignalR to plot real time updates to a d3 US States map", "RealTimeMap")</li>
    <li>@Html.ActionLink("Real Time Map Admin - Push notifications to the Real Time Map", "RealTimeMapAdmin")</li>
    <li>@Html.ActionLink("Gun Club Trap Shooting League 2017 Season", "GunClubSeason2017")</li>
    </ul>

