@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Darren Ingram Blog Samples</h1>
    <p class="lead">This web site is used as a collection of samples to accompany my blog posts.</p>
    <p><a href="http://www.darreningram.net" target="_blank" class="btn btn-primary btn-lg">View Blog &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>D3.js</h2>
            <p>Experimenting with the <a href="http://d3js.org/" target="_blank">D3.js</a> to create web based interactive data visualizations</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "D3")" role="button">Let's Go! &raquo;</a></p>
           
        </div>

    </div>
</div>
